<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./index.css">
    <meta http-equiv="refresh" content="600">
  </head>
  
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- 左列 -->
        <div class="col">
          <div class="card">
            <h4 class="card-header">天気予報</h4>
            <div class="card-body">
              <p class="card-text">
                <div class="mb-1">
                  <strong class="mr-2">今日</strong>:
                  <%= @today[:weather_state] %>
                  <span class="text-info">最低<%= @today[:temperature_min] %>℃</span>
                  <span class="text-danger">最高<%= @today[:temperature_max] %>℃</span>
                </div>
                <div class="mb-1">
                  <strong class="mr-2">明日</strong>:
                  <%= @tomorrow[:weather_state] %>
                  <span class="text-info">最低<%= @tomorrow[:temperature_min] %>℃</span>
                  <span class="text-danger">最高<%= @tomorrow[:temperature_max] %>℃</span>
                </div>
              </p>
            </div>
          </div>
          
          <div class="card">
            <h4 class="card-header text-white <%= @train_head_class %>">電車遅延情報</h4>
            <div class="card-body">
              <p class="card-text"><%= @train_info_message %></p>
            </div>
          </div>
        </div>
        
        <!-- 右列 -->
        <div class="col">
          <div class="card">
            <h4 class="card-header text-white"></h4>
            <div class="card-body">
              <p class="card-text"></p>
            </div>
          </div>
          
          <div class="card text-white">
            <h4 class="card-header"></h4>
            <div class="card-body">
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      // 自動更新
      let settimeoutReload;
      settimeoutReload = setTimeout(() => {
        console.log('reload!');
        location.reload();
      }, 10000);
    </script>
  </body>
</html>
