<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./index.css">
    <meta http-equiv="refresh" content="600">
  </head>
  
  <body>
    <div class="container-fluid">
      <div class="row">
        <!-- 左列 -->
        <div class="col">
          <div class="card">
            <h4 class="card-header">天気予報</h4>
            <div class="card-body">
              <p class="card-text">
                <div class="mb-1">
                  <strong class="mr-2">今日</strong>:
                  <img src="<%= @today[:image_url] %>"><%= @today[:weather_state] %>
                  <span class="text-info">最低<%= @today[:temperature_min] %>℃</span>
                  <span class="text-danger">最高<%= @today[:temperature_max] %>℃</span>
                </div>
                <div class="mb-1">
                  <strong class="mr-2">明日</strong>:
                  <img src="<%= @tomorrow[:image_url] %>"><%= @tomorrow[:weather_state] %>
                  <span class="text-info">最低<%= @tomorrow[:temperature_min] %>℃</span>
                  <span class="text-danger">最高<%= @tomorrow[:temperature_max] %>℃</span>
                </div>
              </p>
            </div>
          </div>
          
          <div class="card">
            <h4 class="card-header text-white bg-success">タイトル2</h4>
            <div class="card-body">
              <p class="card-text">本文2</p>
            </div>
          </div>
        </div>
        
        <!-- 右列 -->
        <div class="col">
          <div class="card">
            <h4 class="card-header text-white bg-danger">タイトル3</h4>
            <div class="card-body">
              <p class="card-text">本文3</p>
            </div>
          </div>
          
          <div class="card text-white bg-dark">
            <h4 class="card-header">タイトル4</h4>
            <div class="card-body">
              <p class="card-text">本文4</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
